body {
    height: 100%;
    background-image: url("gradientBackground.png");
    background-color: #FFCBA5;
}

video {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}


#downloadButton {
    margin: 20px auto 0;
    display: block;
}
