html {
    background-image: url("gradientBackground.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #FFCBA5;
}

body {
    max-height: auto;
    max-width: auto;
}

video {
    display: block;
    margin: auto;
    max-width: 90vw;
    height: auto;
}

/*
#downloadButton {
    margin: 20px auto 0;
    display: block;
}
*/
